
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700;800&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    color:aliceblue;
    background:rgb(2, 1, 44);
    background-size: cover ;

}
.images img{
    height:200px;
    width:200px;
    margin:5% 10% ;
    border-radius: 100%;
}
.card{
    margin:45px;
    color:white;
    background-color: rgba(10, 4, 41, 0.589);
    font-family: 'Kaisei Tokumin', serif;
   
}
.card:hover{
     transform:scale(1.1);
     background-color:white;
     color:rgb(19, 7, 75);
     transition:0.5s ease-in-out;
     
}
h5{
    font-size: 30px;
    font-family: 'Kaisei Tokumin', serif;
    font-weight: 700;
    color:#058ec4;
    text-align: center;
    padding:20px;
    
}
h2{
    font-family: 'Kaisei Tokumin', serif;
    font-size: 80px;
    color:#058ec4;
    text-align: center;
}
h6
{ font-size: 25px;
    
    font-family: 'Kaisei Tokumin', serif;
    font-weight: 600;
 
}
p{
    font-family: 'Kaisei Tokumin', serif;
}
.d h2{
    font-size: 60px;
    margin:30px;
}
.d p{
    font-size: 20px;
}